<div class="container-fluid py-5 hero-header wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-10 col-md-12">
        <h1 class="mb-3 text-primary">{{ "HERO_TITLE" | i18n }}</h1>
        <h1 class="mb-5 display-1 text-white">{{ "HERO_DESCRIPTION" | i18n }}</h1>
        <a href="#contact" class="btn btn-primary px-4 py-3 px-md-5 me-4 btn-border-radius"
          >{{ "HERO_BUTTON_TEXT" | i18n }}</a
        >
      </div>
    </div>
  </div>
</div>
