<div class="container-fluid program py-5">
  <div class="container py-5">
    <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 960px">
      <h4
        class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius"
      >
        {{ "OUR_PROGRAM_LABEL" | i18n }}
      </h4>
      <h1 class="mb-5 display-3">{{ "OUR_PROGRAM_TITLE" | i18n }}</h1>
    </div>
    <div class="row g-5 justify-content-center">
      {% for program in programs %}
        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="{{ program.wowDelay }}">
          <div class="program-item rounded">
            <div class="program-img position-relative">
              <div class="overflow-hidden img-border-radius">
                <img src="{{ program.image }}" class="img-fluid w-100" alt="Image" />
              </div>
              <div class="px-4 py-2 bg-primary text-white program-rate">
                {{ program.price | i18n | safe }}
              </div>
            </div>
            <div class="program-text bg-white px-4 pb-3">
              <div class="program-text-inner">
                <a href="#contact" class="h4">{{ program.title | i18n }}</a>
                <p class="mt-3 mb-0" style="white-space: pre-line;">
                  {{ program.description | i18n }}
                </p>
                {% if program.benefits %}
                  <ul class="mt-3 mb-0 ps-3">
                    {% for benefit in program.benefits %}
                      <li class="mb-1">{{ benefit | i18n }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="d-flex justify-content-between px-4 py-2 bg-primary rounded-bottom">
              {% if program.benefits and program.benefits.age %}
                <small class="text-white"
                  ><i class="fas fa-child me-1"></i> {{ program.benefits.age | i18n }}</small
                >
              {% endif %}
              {% if program.benefits and program.benefits.area %}
                <small class="text-white"
                  ><i class="fab fa-fort-awesome"></i> {{ program.benefits.area | i18n }}</small
                >
              {% endif %}
              {% if program.benefits and program.benefits.hours %}
                <small class="text-white"
                  ><i class="fas fa-clock me-1"></i> {{ program.benefits.hours | i18n }}</small
                >
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
