---
pagination:
  data: site.langs
  size: 1
  alias: locale
permalink: "{% if locale == 'ro' %}/{% else %}/{{ locale }}/{% endif %}"
layout: "main.njk"
---

{% include "components/hero.njk" %}
{% include "components/about-us.njk" %}
{% include "components/program.njk" %}
{% include "components/contact-us.njk" %}
{% include "components/testimonial.njk" %}
{% include "components/instagram.njk" %}
